html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #888a8f;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}

.fa-google-plus-g {
    transition: all 0.5s;

    &:hover {
        color: red;
    }
}

.fa-facebook-f {
    transition: all 0.5s;

    &:hover {
        color: blue;
    }
}

.fa-twitter {
    transition: all 0.5s;

    &:hover {
        color: #00FFFF;
    }
}