@import "_global";
@import "_vars";

.header {
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  align-items: center;

  &__logo {
    display: block;

    &-img {
      margin-top: 60px;
      margin-bottom: 45px;
    }
  }

  &__menu {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-bottom: 100px;
  }

  &__list {
    margin: 0 auto;
    display: flex;

    &-item {
      list-style: none;
    }

    &-link {
      font-family: "Ubuntu", sans-serif;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 13px;
      padding-bottom: 2px;
      margin-right: 36px;

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }

  &__info {
    text-align: center;

    &-title {
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      font-size: 53px;
      color: #fff;
      margin-bottom: 30px;
    }

    &-text {
      display: inline-block;
      position: relative;
      font-weight: 700;
      font-size: 15px;
      color: #fff;
      margin-bottom: 90px;

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 101px;
        background-color: #48636a;
        bottom: 50%;
        right: 280px;
      }

      &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 101px;
        background-color: #48636a;
        bottom: 50%;
        left: 280px;
      }
    }
  }

  &__btn {
    height: 49px;
    width: 230px;
    display: inline-block;
    text-align: center;
    color: #fff;
    outline: transparent;
    background-color: #50c3af;
    border: transparent;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.5s;

    &:hover {
      box-shadow: 0px 0px 30px 2px #2f4f4f;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.advantages {
  padding-bottom: 80px;
  padding-top: 60px;
  background-color: #eeeeef;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding-right: 20px;
    text-align: center;
    width: 191px;
    height: 181px;

    &-img {
      margin: 0 auto;
      background-repeat: no-repeat;
      width: 42px;
      height: 42px;
      margin-bottom: 34px;
    }
  }

  &__info {
    &-title {
      padding-bottom: 24px;
      margin: 0 auto;
      width: 135px;
      font-weight: 700;
      font-size: 16px;
      color: #384048;
      margin-bottom: 40px;
      border-bottom: 2px solid #e2e3e4;
    }

    &-text {
      line-height: 24px;
      font-weight: 400;
      font-size: 14px;
    }
  }
}

.story {
  padding-top: 140px;
  padding-bottom: 140px;

  &__items {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
  }

  &__items &__item {
    margin: 0 auto;
    position: relative;
    width: 350px;
    height: 210px;
    transform-style: preserve-3d;
    transition: 0.5s;
  }

  &__items &__item:hover {
    box-shadow: 0 50px 80px rgba(47, 79, 79, 0.7);
  }

  &__items &__item &__item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__item-img--global {
    width: 350px;
  }

  &__items &__item &__info {
    position: absolute;
    width: 300px;
    top: 40%;
    right: 30px;
    left: 30px;
    background: #fff;
    transform: translateZ(20px) scaleY(0);
    padding: 40px 30px;
    transform-origin: top;
    transform-style: preserve-3d;
    transition: 0.5s;
  }

  &__items &__item:hover &__info {
    transform: translateZ(50px) scaleY(1);
  }

  &__info-title {
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 17px;
    color: #384048;
    border-bottom: 2px solid #eceded;
    margin-bottom: 10px;
  }

  &__info-text {
    color: #787b80;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
  }

  &__info-btn {
    padding: 11px 17px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background-color: #50c3af;
    border: transparent;
    outline: transparent;
    border-radius: 20px;
    text-align: center;

    &:hover {
      box-shadow: 0px 0px 30px 2px #50c3af;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.supported {
  padding-bottom: 64px;
  padding-top: 67px;
  background-color: #eeeeef;

  &__content {
    &-title {
      position: relative;
      padding-left: 40px;
      margin-bottom: 51px;
      border-bottom: 2px solid #e9e9ea;
      padding-bottom: 23px;
      text-transform: uppercase;
      font-size: 18px;
      color: #384048;
      font-weight: 700;

      &::after {
        content: "";
        position: absolute;
        background-image: url(../images/supported/img.png);
        width: 24px;
        height: 23px;
        left: 0;
      }
    }

    &-text {
      width: 100%;
      text-align: justify;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #787b80;
      margin-bottom: 30px;
    }

    &-btn {
      cursor: pointer;
      outline: transparent;
      border: transparent;
      background-color: #d2d5da;
      padding: 15px 25px;
      border-radius: 20px;
      color: #fff;
      transition: all 0.5s;

      &:hover {
        background-color: #50c3af;
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }
}

.content {
  padding-top: 20px;
  padding-bottom: 30px;

  &__items {
    padding-top: 40px;
    width: 100%;
    display: inline-block;
    flex-direction: column;
  }

  &__item {
    display: block;
    padding: 40px;
    max-width: 450px;

    &-img {
      width: 291px;
      height: 210px;
      margin-bottom: 30px;
    }
  }

  &__info {
    width: 290px;

    &-title {
      font-weight: 700;
      margin-bottom: 21px;
      padding-bottom: 10px;
      border-bottom: 2px solid #ebebeb;
      font-size: 16px;
      color: #384048;
      text-transform: uppercase;
    }

    &-text {
      font-size: 14px;
      width: 290px;
      line-height: 24px;
      color: #787b80;
      margin-bottom: 20px;
    }

    &-link {
      color: #50c3af;
      font-size: 15px;
      font-weight: 400;
      text-decoration: none;
      outline: transparent;
      transition: all 0.5s;

      &:hover {
        font-size: 16px;
      }
    }
  }
}

.ability {
  padding-top: 61px;
  padding-bottom: 61px;
  background-color: #eeeeef;

  &__items {
    display: flex;
  }

  &__item {
    width: 260px;
    margin: 0 auto;

    &-title {
      font-weight: 600;
      margin-bottom: 28px;
      padding-bottom: 10px;
      border-bottom: 2px solid #e2e3e4;
      padding-left: 40px;
      position: relative;
      font-size: 18px;
      color: #384048;
      text-transform: uppercase;

      &--telegram {
        color: #c6cbd1;
        font-size: 25px;
        position: absolute;
        top: -5px;
        left: 0;
      }

      &--pencil {
        color: #c6cbd1;
        font-size: 20px;
        position: absolute;
        top: -2px;
        left: 0;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #787b80;
      margin-bottom: 40px;
    }

    &-btn {
      outline: transparent;
      border: transparent;
      background-color: #50c3af;
      color: #fff;
      text-align: center;
      padding: 13px 17px;
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        box-shadow: 0px 0px 30px 2px #50c3af;
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }
}

.review {
  &__item {
    padding-bottom: 60px;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    width: 850px;

    &-img {
      widows: 300px;
      height: 250px;
      margin-right: 37px;
    }
  }

  &__info {
    width: 320px;

    &-title {
      padding-bottom: 10px;
      border-bottom: 2px solid #eaeaeb;
      font-size: 18px;
      color: #293139;
      text-transform: uppercase;
      font-weight: 600;
    }

    &-text {
      margin-top: 31px;
      font-size: 14px;
      color: #787b80;
      margin-bottom: 32px;
    }

    &-btn {
      cursor: pointer;
      padding: 13px 17px;
      border: transparent;
      outline: transparent;
      background-color: #d2d5da;
      font-size: 15px;
      font-weight: 400;
      border-radius: 20px;
      transition: all 0.5s;
      color: #fff;

      &:hover {
        background-color: #50c3af;
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }
}

.featured {
  background-color: #50c3af;
  padding-top: 53px;
  padding-bottom: 71px;
  text-align: center;

  &__title {
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #61c8b6;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    width: 390px;
  }

  &__list {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    &-item {
      list-style: none;
    }

    &-link {
      font-family: "Cabin", sans-serif;
      color: #fff;
      font-size: 26px;
      text-decoration: none;
      margin-right: 60px;
      font-weight: 400;
      transition: all 0.5s;

      &:hover {
        color: #008080;
      }
    }
  }
}

.footer {
  &__inner {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 13px;

    &--link {
      color: #787b80;
      text-decoration: none;
    }
  }

  &__list {
    margin-top: 0;
    display: flex;

    &-item {
      list-style: none;
    }

    &-link {
      color: #b5b7b9;
      text-decoration: none;
      margin-right: 20px;
    }
  }
}